@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.layout-grid {
  display: grid;
  grid-template-columns: 16rem calc(100% - 16rem);
}

@media screen and (max-width: 768px) {
  .layout-grid {
    grid-template-columns: 100%;
  }
}

.bgImageMikeWhiteHair {
  background-image: url("../assets/images/mike-white-hair.webp");
  background-size: cover;
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #02688440;
  opacity: 0.5;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #026884;
}

.background-text-animation {
  background: linear-gradient(
    to right,
    #fff 20%,
    #01baef 30%,
    #01baef 70%,
    #fff 80%
  );
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-text-animation 2s linear infinite;
}
@keyframes gradient-text-animation {
  to {
    background-position: 200% center;
  }
}
